<header>
     <nav>
          <ul>
               <li><a href="/">Home</a></li>
               <li><a href="about.ejs">About</a></li>
               <li><a href="contact.ejs">Contact</a></li>
          </ul>
     </nav>
</header>