<!DOCTYPE html>
<html lang="en">
     <%-include('layouts/header.ejs')-%>
<body>
     <%-include('layouts/nav.ejs')-%>

     <div class="container">
          <summary>
               <h3>About Digitax</h3>
               <details>
                    <p class="about-detail">This application is used in generation of barcode for payment and verification of tax payments by tri-cycle operators, taxi and bus drivers.</p>
               </details>
          </summary>
     </div>
     <%-include('layouts/footer.ejs')-%>
</body>
</html>